.ropam {
  width: 100%;
  height: 100%;
}

.accs {
  width: 100%;
  height: 100%;
}

.ropah {
  width: 100%;
  height: 100%;
}

.ropai {
  width: 100%;
  height: 100%;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  background-color: #c9bfbf;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-img-top {
  object-fit: contain;
}

.header {
  /* display: flex;
      overflow: hidden;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; */
  background-color: black;
}

.navbar-brand {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar-toggler {
  background-color: white !important;
}

.imagenes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: gainsboro;
  padding: 10px;
}

.imagenes__img--1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  padding: 10px;
  position: relative;
}

.imagenes__img--2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  padding: 10px;
  position: relative;
}

.imagenes__img--3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5;
  padding: 10px;
}

.carousel-item img {
  border-radius: 25px;
  height: 800px;
  object-fit: cover;
}

.caru1 img {
  height: 200px;
  object-fit: cover;
}

.icono {
  width: 100%;
  height: 100%;
  align-self: center;
  border-radius: 5%;
}

.indexh {
  position: absolute;
  z-index: 999;
  top: 100px;
  right: 200px;
  display: block;
  letter-spacing: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 20px;
}

.texth {
  transform: rotate(-20deg);
  border: 2px solid;
  border-radius: 5px;
  background-color: black;
  color: white;
  opacity: 0.5;
}

.indexm {
  color: white;
  position: absolute;
  top: 230px;
  right: 120px;
  display: block;
  letter-spacing: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.textm {
  transform: rotate(-20deg);
  border: 2px solid;
  border-radius: 5px;
  background-color: black;
  color: white;
  opacity: 0.5;
}

.logotipo {
  width: 60px;
  height: 60px;
}

.body {
  width: 100%;
  background-color: #ded8d8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.zapasgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.zapatillas__z1 {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 5px;
  width: 100%;
  height: 100%;
  transition: transform 1s;
}

.zapatillas__z1:hover {
  transform: scale(0.9);
}

.zapatillas__z2 {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 5px;
  transition: transform 1s;
}

.zapatillas__z2:hover {
  transform: scale(0.9);
}

.zapatillas__z3 {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 5px;
  transition: transform 1s;
}

.zapatillas__z3:hover {
  transform: scale(0.9);
}

.zapatillas__z4 {
  grid-column: 3/3;
  grid-row: 1/2;
  padding: 5px;
  transition: transform 1s;
}

.zapatillas__z4:hover {
  transform: scale(0.9);
}

.zapatillas__z5 {
  grid-column: 1/2;
  grid-row: 2/2;
  padding: 5px;
  width: 100%;
  height: 100%;
  transition: transform 1s;
}

.zapatillas__z5:hover {
  transform: scale(0.9);
}

.body {
  width: 100%;
  background-color: #ded8d8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hombres {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.hombres__1 {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 10px;
  width: 100%;
  transition: transform 1s;
}

.hombres__1:hover {
  transform: scale(0.9);
}

.hombres__2 {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 10px;
  transition: transform 1s;
}

.hombres__2:hover {
  transform: scale(0.9);
}

.hombres__3 {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 10px;
  transition: transform 1s;
}

.hombres__3:hover {
  transform: scale(0.9);
}

.hombres__4 {
  grid-column: 3/3;
  grid-row: 1/2;
  padding: 10px;
  width: 100%;
  transition: transform 1s;
}

.hombres__4:hover {
  transform: scale(0.9);
}

.hombres__6 {
  grid-column: 1/2;
  grid-row: 2/2;
  padding: 10px;
  width: 100%;
  transition: transform 1s;
}

.hombres__6:hover {
  transform: scale(0.9);
}

.body {
  width: 100%;
  background-color: #ded8d8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.indu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.ropai {
  width: 100%;
  height: 100%;
}

.indu__1 {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 10px;
  transition: transform 1s;
}

.indu__1:hover {
  transform: scale(0.9);
}

.indu__2 {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 10px;
  transition: transform 1s;
}

.indu__2:hover {
  transform: scale(0.9);
}

.indu__3 {
  grid-column: 3/4;
  grid-row: 1/2;
  padding: 10px;
  transition: transform 1s;
}

.indu__3:hover {
  transform: scale(0.9);
}

.indu__4 {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 10px;
  transition: transform 1s;
}

.indu__4:hover {
  transform: scale(0.9);
}

.indu__5 {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 10px;
  transition: transform 1s;
}

.indu__5:hover {
  transform: scale(0.9);
}

.indu__6 {
  grid-column: 3/4;
  grid-row: 2/3;
  padding: 10px;
  width: 100%;
  transition: transform 1s;
}

.indu__6:hover {
  transform: scale(0.9);
}

.indu__7 {
  grid-column: 1/2;
  grid-row: 3/4;
  padding: 10px;
  transition: transform 1s;
}

.indu__7:hover {
  transform: scale(0.9);
}

.body {
  width: 100%;
  background-color: #ded8d8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mujeres {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.ropam {
  width: 100%;
  height: 100%;
}

.mujeres__1 {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 10px;
  transition: transform 1s;
}

.mujeres__1:hover {
  transform: scale(0.9);
}

.mujeres__2 {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 10px;
  transition: transform 1s;
}

.mujeres__2:hover {
  transform: scale(0.9);
}

.mujeres__3 {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 10px;
  transition: transform 1s;
}

.mujeres__3:hover {
  transform: scale(0.9);
}

.mujeres__4 {
  grid-column: 3/3;
  grid-row: 1/2;
  padding: 10px;
  width: 100%;
  transition: transform 1s;
}

.mujeres__4:hover {
  transform: scale(0.9);
}

.mujeres__5 {
  grid-column: 1/2;
  grid-row: 2/2;
  padding: 10px;
  width: 100%;
  transition: transform 1s;
}

.mujeres__5:hover {
  transform: scale(0.9);
}

.mujeres__6 {
  grid-column: 3/3;
  grid-row: 2/3;
  padding: 10px;
  width: 100%;
  transition: transform 1s;
}

.mujeres__6:hover {
  transform: scale(0.9);
}

.body {
  width: 100%;
  background-color: #ded8d8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.accesorios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

.accesorios img {
  height: 400px;
  width: 300px;
}

.accs {
  width: 100%;
  height: 100%;
}

.accesorios__1 {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 10px;
  transition: transform 1s;
}

.accesorios__1:hover {
  transform: scale(0.9);
}

.accesorios__2 {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 10px;
  transition: transform 1s;
}

.accesorios__2:hover {
  transform: scale(0.9);
}

.accesorios__3 {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 10px;
  transition: transform 1s;
}

.accesorios__3:hover {
  transform: scale(0.9);
}

.accesorios__4 {
  grid-column: 3/3;
  grid-row: 1/2;
  padding: 10px;
  transition: transform 1s;
}

.accesorios__4:hover {
  transform: scale(0.9);
}

.accesorios__5 {
  grid-column: 1/2;
  grid-row: 2/2;
  padding: 10px;
  transition: transform 1s;
}

.accesorios__5:hover {
  transform: scale(0.9);
}

.accesorios__1 div img {
  width: 100%;
  height: auto;
}

.accesorios__2 div img {
  width: 100%;
  height: auto;
}

.accesorios__3 div img {
  width: 100%;
  height: auto;
}

.accesorios__4 div img {
  width: 100%;
  height: auto;
}

.accesorios__5 div img {
  width: 100%;
  height: auto;
}

.footer {
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 1rem;
}

div a {
  text-decoration: none;
  color: white;
}

.boton {
  background-color: transparent;
  color: #198754;
  border-color: #198754;
  border-radius: 5px;
  height: 2rem;
  width: 5rem;
  margin-left: 5px;
}

.boton:hover {
  background-color: #198754;
  color: white;
  transition: color .15s;
}

.jam-twitter {
  font-size: 2rem;
}

.jam-instagram {
  font-size: 2rem;
  padding-right: 10px;
}

.jam-whatsapp {
  font-size: 2rem;
}

@media screen and (max-width: 1023px) {
  .nav {
    display: none;
    flex-direction: column;
  }
  .menu {
    display: block;
    text-decoration: none;
    color: white;
  }
  .etiquetas {
    flex-direction: column;
  }
  .zapasgrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }
  .hombres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mujeres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .accesorios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .indu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-fluid span {
    color: white;
  }
  .navbar-toggler {
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .imagenes {
    display: flex;
    flex-direction: column;
  }
  .contacto {
    font-size: 1rem;
  }
  .suscri {
    font-size: 1rem;
  }
  .footer-sub2 textarea {
    width: 80%;
  }
  .text {
    width: 10rem;
    border-color: white;
  }
  .boton {
    border-color: #198754;
    display: flex;
    margin-top: 3px;
    background-color: transparent;
    color: #198754;
    padding-left: 1rem;
    margin-left: 0;
  }
  .indexh {
    position: relative;
    z-index: 999;
    top: -140px;
    right: -20px;
    display: block;
    letter-spacing: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.5;
  }
  .texth {
    transform: rotate(-40deg);
    width: fit-content;
  }
  .indexm {
    color: white;
    position: relative;
    top: -130px;
    right: -130px;
    display: block;
    letter-spacing: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.9;
    width: 20px;
  }
  .textm {
    transform: rotate(-35deg);
    width: fit-content;
  }
  .jam-twitter {
    font-size: 1rem;
  }
  .jam-instagram {
    font-size: 1rem;
  }
  .jam-whatsapp {
    font-size: 1rem;
  }
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 200px;
    align-self: center;
  }
  .carousel-inner img {
    height: 200px;
  }
}
/*# sourceMappingURL=style.css.map */