.pagcontacto{
    display: flex;
    // flex-direction: row;
    justify-content: space-around;
    
}
.listac{
    list-style: none;
}
.jam-inbox{
    font-size: 2rem;
}
.jam-phone{
    font-size: 2rem;
}
.insta{
    color: black;
}
.instat{
    color: black;
    font-size: 27px;
}
.contactenos{
    text-align: center;
}
.ubicacion{
    text-align: center;
}
.mapa{
padding-left: 150px;
}