.navbar-brand {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .navbar-toggler{
    
    background-color: white !important;
  }
.imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: $color-secundary;
    padding: 10px;
  }
  
  .imagenes__img--1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 10px;
  }
  
  .imagenes__img--2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 10px;
  }
 
  
  .imagenes__img--3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    padding: 10px;
  }
  
  .carousel-item img {
    border-radius: 25px;
    height: 800px;
    object-fit: cover;
  }
  
  .caru1 img {
    height: 200px;
    object-fit: cover;
  }
  .icono {
    width: 100%;
    height: 100%;
    align-self: center;
    border-radius: 5%;
  }
  .indexh{
    position: relative;
    z-index: 999;
    top: -450px;
    right: -60px;
    display: block;
    letter-spacing: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.5;
    
  }
  .texth{
    transform: rotate(-40deg);
  }
  .indexm{
    color: white;
    position: relative;
    top: -440px;
    right: -250px;
    display: block;
    letter-spacing: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.9;

  }
  .textm{
    transform: rotate(-35deg);
  }
  .logotipo{
    width: 60px;
    height: 60px;
  } 
    
    