@media screen and (max-width: 1023px) {
    .nav {
      display: none;
      flex-direction: column;
    }
    .menu {
      display: block;
      text-decoration: none;
      color: white;
    }
    .etiquetas {
      flex-direction: column;
    }
    #lateral {
      display: block;
      width: 80%;
      height: 100vh;
      position: fixed;
      top: 0%;
      right: -100%;
      z-index: 100;
      transition: right 1s;
      background-color: rgba(0, 0, 0, 0.8);
    }
    #lateral:target {
      right: 0%;
    }
    .zapasgrid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      
      padding: 5px;
    }
    .hombres {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .mujeres {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .accesorios {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .indu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .container-fluid span {
      color: white;
    }
  }
  
  @media screen  and (max-width: 600px) {
    

    .imagenes{
      display: flex;
      flex-direction: column;
    }
    .contacto{
      font-size:1rem;
    }
    .suscri{
      font-size: 1rem;
    }
    .footer-sub2 textarea {
      width:80%
    }
    // .footer-sub2 input{
    //   width: 5rem
    .text{
      width: 10rem;
      border-color: white;
    }
    .boton{
      border-color: #198754;
      display: flex;
     margin-top: 3px;
     background-color: transparent;
     color: #198754;
     padding-left: 1rem;
     
    }

    }
   
  